# Requires Python 3.10 (recommended)
torch==2.5.1
torchvision==0.20.1
streamlit>=1.34
streamlit-plotly-events
opencv-python
scikit-learn
scikit-image
pretrainedmodels
plotly
numpy
pandas
pillow
matplotlib
rasterio
universaldatatool
web.py
openpyxl
